.Upload {
  color: rgb(252, 252, 252);
  width: 200px;
  height: 60px;
  display: block;
  position: relative;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0 0 10px #333333;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s;
  margin-bottom: 25px;
}
.Upload:hover {
  box-shadow: 0 -1px 15px black;
}

#menu_images {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.material-icons {
  vertical-align: middle;
  display: inline-block;
}
.App-header {
  text-align: center;
  margin-bottom: 30px;
}
.pictures {
  padding: 25px;
}
.text {
  vertical-align: middle;
  display: inline-block;
  line-height: 60px;
}
.downLoad.material-icons {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0 black;
  transition: text-shadow 0.15s;
  padding:0 7px;
  margin: 0 7px;
}
.downLoad.material-icons:hover {
  text-shadow: 0 0 1px black;
}
.pictures {
  margin: auto;
}
.NeBu {
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid white;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
#center {
  margin-right: 10px;
}
.App-dragging .Upload.Upload-dragging {
  transform: scale(1.2);
}
.App-dragging .Upload {
  background-color: white;
  color: black;
  border: 2px dashed;
  box-shadow: none;
  border-radius: 0;
  transform: scale(1.1);
}
