#ranger {
  margin-left: 68%;
  margin-top: 0;
  color: black;
}
.qualityValue1 {
  font-size: large;
  bottom: -37%;
  right: 50%;
  position: absolute;
}

.moduleRange {
  bottom: -18%;
  right: 12%;
  width: 22.3%;
  position: absolute;
}
.quality-range:hover {
  box-shadow: 1px 1px 10px black;
}
.quality-range {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.quality-range:focus {
  outline: none;
}
.quality-range::-webkit-slider-runnable-track {
  width: 220px;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.quality-range::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.quality-range:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.quality-range::-moz-range-track {
  width: 300px;
  height: 1px;
  cursor: pointer;

  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.quality-range::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: black;
  cursor: pointer;
}
.quality-range::-ms-track {
  width: 300px;
  height: 1px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.qyality-range::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
.quality-range::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}
.quality-range::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: black;
  cursor: pointer;
}
.quality-range:focus::-ms-fill-lower {
  background: #3071a9;
}
.quality-range:focus::-ms-fill-upper {
  background: #367ebd;
}

.qualityValue {
  font-size: large;
  margin-left: 63%;
  margin-top: -2.7%;
}
