.module {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  z-index: 1;
}
.module_inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  z-index: 0;
}
.closeButton {
  object-fit: fill;
  color: black;
  border-radius: 20px;
  background: white;
  border: 0 solid white;
  position: absolute;
  margin-left: 100%;
  bottom: 85%;
}

.module__image {
  box-shadow: 0 0 2px black;
  width: 50%;
  height: 80%;
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
  margin-top: 11%;
  margin-left: -3%;
}

.module__image.module__image-compressed {
  margin-left: 53%;
}
.origFoto {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;
}
